body {
  background-color: gray;
  color: black;
}    

h1.solid {
  border-style: solid;
  text-align: center;
}

p.kalle {
  text-align: center;
  border: 2px solid white;
  margin: auto;
  width: 50%;
  border-radius: 8px;
}

p.ots {
  float: left;
  border-radius: 8px;
  border: 2px solid white;
}

div {
  text-align: center;
  display: block;
}
