body {
  background-color: gray;
  color: black;
  text-align: center;
  
}    

h1.solid {
  border-style: solid;
}

p.kalevi {
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

p.ots {
  float: left;
}

img {
  margin: auto;
}
